{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags(?) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">

    <title>{% block title %} {% endblock %} </title>
</head>
<body>
    <header>
        <div class="logo">Voting Guide</div>
        <section class="search">
            <!-- Search button logic -->
            <form method="GET" action="{% url 'search' %}">
                    {{ search_form.query }}
                    <!-- <div class="filters">
                        <h3>Filter By:</h3>
                        {{ form.filter1 }}
                    </div> -->
                    <button type="submit" value="OK">Search</button>
            </form>
        </section>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li class="login">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In / Sign Up</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <!-- Javascripts here if needed -->
</body>