{% extends "djangoapp/base.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form_creation.css' %}" />
<div class="main-container">
    <form method="POST" action="{% url 'candidacy' %}" class="creation-form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="error-container">
                <ul class="error-list">
                    {% for field, errors in form.items %}
                        {% for error in errors %}
                            <li class="error-item">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="content-container">
            <h2 class="form-title">Campaign Details</h2>
            <div class="form-group">
                <label for="campaign_title" class="form-label">Campaign Title:</label>
                {{ form.campaign_name }}
            </div>
            <div class="form-group">
                <label for="campaign_description" class="form-label">Campaign Description:</label>
                {{ form.campaign_details }}
            </div>
        </div>

        <div class="button-container">
            <button type="submit" class="submit-button">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}