{% extends "djangoapp/base.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}
{% block content %}
<div class = 'container'>
    <form method="POST" action="{% url 'event_creation' %}">
        {% csrf_token %}
        <!-- Include error messages -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Campaign Details -->
        <fieldset>
            <legend>Create Event</legend>
            <div>
                <p></p><label for="event_name">Event Name:</label></p>
                {{ form.name }}
            </div>
            <div>
                <p><label for="event_location">Location:</label></p>
                {{ form.location }}
            </div>
            <div>
                <p><label for="event_start">Start time:</label></p>
                {{ form.start }}
            </div>
            <div>
                <p><label for="event_end">End time:</label></p>
                {{ form.end }}
            </div>
            <div>
                <p><label for="event_desc">Event Description:</label></p>
                {{ form.desc }}
            </div>
        </fieldset>
        <div>
            <button type="submit">Create</button>
        </div>
</form>
</div>
{% endblock %}