{% extends "djangoapp/base.html" %}
{% block title %} Event {% endblock%}

{% block content%}
<div class="container">
    <h1>{{ event.name }}</h1>
    <p><strong>Created by:</strong> 
        <a href="{% url 'profile_page' event.official.user.id %}">
        {{ event.official.user.first_name }} {{ event.official.user.last_name }}
        </a>
    </p>
    <!-- Follow/Unfollow Button -->
    {% if user.is_candidate or user.is_official or user.is_student%}
        <div>
            {% if request.user.follows.filter(event=event).exists %}
                <!-- show unfollow button if following-->
                <form action="{% url 'unfollow' event_id=event.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Unfollow</button>
                </form>
            {% else %}
                <!--  show follow button if not following already -->
                <form action="{% url 'follow' event_id=event_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            {% endif %}
        </div>
    {% endif %}

    <p><strong>{{ event.location }}</strong></p>
    <p>Starts on {{ event.start }}, Ends on {{ event.end }}</p>
    <p>{{ event.desc }}</p>
    {% include 'djangoapp/mapapi.html' with longitude=event.longitude latitude=event.latitude %}

    {% if is_creator %} <!-- If the user is the creator of the event, they can update it -->
        <h2>Update Event</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Event</button>
        </form>
    {% endif %}
</div>
{% endblock %}