{% extends "djangoapp/base.html" %}
{% block title %} Event {% endblock%}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/event.css' %}">

<div class="container">
    <h1>{{ event.name }}</h1>
    <p><strong>Created by:</strong> 
        <a href="{% url 'profile_page' event.official.user.id %}">
        {{ event.official.user.first_name }} {{ event.official.user.last_name }}
        </a>
    </p>

    <p><strong>{{ event.location }}</strong></p>
    <p>Starts on {{ event.start }}, Ends on {{ event.end }}</p>
    <p>{{ event.desc }}</p>
    {% include 'djangoapp/mapapi.html' with longitude=event.longitude latitude=event.latitude %}

    {% if is_creator %} <!-- If the user is the creator of the event, they can update it -->
        <h2>Update Event</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Event</button>
        </form>
    {% endif %}
</div>
{% endblock %}