{% extends "djangoapp/base.html" %} {% block title %} About Page {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<body>
    <h1>Software engineering class SFSU</h1>
    <h1>Fall 2024</h1>
    <h1>Section 02</h1>
    <h1>Team 06</h1>

    <div class="team-buttons">
        <h2>Team members</h2>
        <button onclick="window.location.href='bilguun.html'">Bilguun Bayasgalan</button>
        <button onclick="window.location.href='jly.html'">Jeremy Ly</button>
        <button onclick="window.location.href='haolongd.html'">Haolong Deng</button>
        <button onclick="window.location.href='erik.html'">Erik Perez</button>
        <button onclick="window.location.href='pablo.html'">Pablo Partida</button>
        <button onclick="window.location.href='JWong.html'">Jeremy Wong</button>
        <button onclick="window.location.href='madhura.html'">Madhura  S</button>
    </div>
</body>
{% endblock %}