{% extends "djangoapp/base.html" %}
{% block title %} Login Page {% endblock title%}
{% load static %}
{% block content %}
    <main>
        <section class="intro">
            <h1>Login</h1>
        </section>
        <section class="login">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </section>
        <div class="register-redirect">
            <ul>Don't have an account?</ul>
            <a href="{% url 'register' %}" class="register_button">Register</a>
        </div>
        <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>

    </main>
{% endblock %}