{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapbox Map</title>
    <!-- Include Mapbox GL CSS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet" />
</head>
{% block content %}{% endblock %}

    <div id="map" style="width: 100%; height: 400px;"></div>

    <!-- Include Mapbox GL JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <script>
        // Get mapbox access token
        fetch('/get_mapbox_token/')
            .then(response => {
                console.log('Response:', response);
                return response.json();
            })
            .then(data => {
                console.log('data:', data);
                if (data.mapbox_token) {
                    // Initialize the map
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [{{ longitude }}, {{ latitude }}],
                        zoom: 12,
                        accessToken: data.mapbox_token
                    });

                    // Create marker at the location
                    new mapboxgl.Marker()
                        .setLngLat([{{ longitude }}, {{ latitude }}])
                        .addTo(map);
                } 
                else {
                    console.error('Mapbox token not received');
                }
        })
        .catch(error => console.error('Error fetching token:', error));

    </script>

</html>