{% extends "djangoapp/base.html"%}
{% block title %}{{ candidate.user.user.first_name}}'s Profile {% endblock%}

{% block content %}
<div class="container">
    <h1>{{ official.user.first_name}} {{ official.user.last_name}}</h1>
    {{% if official.user.is_candidate %}}
        <p><strong>Campaign Details:</strong> {{ official.candidate.campaign_details}}</p>
    {{% endif %}}
    <h2> Policies </h2>
    <ul>
        {% for policy in policies%}
            <li> {{ policy.name }}</li>
        {% empty %}
            <p>No Policies Found</p>
        {% endfor %}
    </ul>

    <h2> Events </h2>
    <ul>
        {% for event in events %}
            <li>{{ event.name }} - {{ event.location }}</li>
        {% empty %}
            <p>No events found</p>
        {% endfor %}
    </ul>


</div>
{% endblock %}