{% extends "djangoapp/base.html" %}
{% block title %} Password Reset {% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">


    <div class="content">
        {% if validlink %}
            {% if form.errors %}
                <div class="form-error-container">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <input type="password" 
                           name="new_password1" 
                           autocomplete="new-password" 
                           required 
                           id="id_new_password1" 
                           class="form-control"
                           placeholder="Enter password"/>
                </div>

                <div class="form-group">
                    <label for="id_new_password2">New Password Confirmation</label>
                    <input type="password" 
                           name="new_password2" 
                           autocomplete="new-password" 
                           required 
                           id="id_new_password2" 
                           class="form-control"
                           placeholder="Confirm password"/>
                </div>

                <button type="submit" id="reset">Reset Password</button>
            </form>
        {% else %}
            <div class="invalid-link-message">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </div>
        {% endif %}
    </div>
{% endblock content %}