{% extends "djangoapp/base.html" %}
{% block title %} Polling Location {% endblock%}
{% load static %}
{% block content%}
<div class = "container">
    <h1>{{ polling_location.name }}</h1>
    <p><strong>Created by:</strong>
        <a href="{% url 'profile_page' polling_location.office.user.user.id %}">
            {{ polling_location.office.user.user.first_name }} {{ polling_location.office.user.user.last_name }} 
        </a>
    </p>
    <p><strong>{{ polling_location.name }}</strong></p>
    <p><strong>{{ polling_location.location }}</strong></p>
    {% include 'djangoapp/mapapi.html' with longitude=polling_location.longitude latitude=polling_location.latitude %}
    <img src="{{ polling_location.location_picture.url }}" class="card-img-top" alt="Location Image"/>
    {% if is_admin %}
        <a href="{% url 'polling_edit' polling_location.id %}" class="btn btn-primary">Edit</a>
    {% endif %}
</div>
{% endblock %}