{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">

</head>
<body>
    <header>
        <div class="logo">Voting Guide</div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li class="login"><a href="login.html">Log In / Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>Welcome to Voting Guide</h1>
            <p>Find and evaluate information about political candidates and voting processes easily.</p>
        </section>
        <section class="search">
            <!-- Search button logic -->
            <form method = "GET" action="{% url 'results' %}">
                <input type="text" id="search" name="search" value="{{ current_name }}" placeholder="Search for candidates or topics..." />
                <button type="submit" value="OK">Search</button>
                <div class="filters">
                    <h3>Filter By:</h3>
                    <input type="checkbox" id="candidate" name="candidate" value="candidate">
                    <label for="candidate">Candidate</label><br>
                    <input type="checkbox" id="policy" name="policy" value="policy">
                    <label for="policy">Policy</label><br>
                    <input type="checkbox" id="event" name="event" value="event">
                    <label for="event">Event</label><br>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </footer>
    <script>
        function searchCandidates() {
            let query = document.getElementById("searchBar").value;
            let location = document.getElementById("location").value;
            let party = document.getElementById("party").value;
            let experience = document.getElementById("experience").value;
            let topics = document.getElementById("topics").value;
            
            console.log("Searching for:", query, location, party, experience, topics);
        }
    </script>
</body>
</html>